/**
======================================================
Itsoft about Area css
======================================================**/
.about-area {
  background: url(assets/images/about/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 80px;
  background-size: cover;
  position: relative;
}

.about-area .dreamit-about-thumb {
  margin: 0px 0 0 -128px;
  position: relative;
  z-index: 1;
}

.dreamit-icon-title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding: 2px 0 10px;
  font-style: italic;
}

.dreamit-icon-title h4 span {
  color: #FF3C00;
}

.dreamit-icon-list ul li {
  display: inline-block;
  list-style: none;
  padding: 14px 0 0px;
}

.dreamit-icon-list ul li i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ff3c00;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  margin-right: 10px;
}

.dreamit-icon-list ul li span {
  color: #fff;
}

/*about button*/
.about-button a {
  padding: 9px 14px 14px 42px;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #fff;
  background: #FF3B00;
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #FF3B00;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 38px;
}

.about-button a:before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: #fff;
  border-radius: 30px;
  transition: .5s;
}

.about-button a i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 25px;
  text-align: center;
  background: #fff;
  color: #FF3B00;
  display: inline-block;
  margin-left: 14px;
  position: relative;
  top: 3px;
  transition: .5s;
}

.about-button a:hover {
  color: #FF3B00;
}

.about-button a:hover:before {
  width: 100%;
  left: 0;
}

.about-button a:hover i {
  background: #FF3B00;
  color: #fff;
}

/*about shape*/
.about-shape-thumb1 {
  position: absolute;
  left: -61px;
  bottom: -102px;
  z-index: -1;
}

.about-shape-thumb2 {
  position: absolute;
  right: 72px;
  top: -111px;
}

/***About style two***/
.style-two.about-area {
  background: url(assets/images/about/ceo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 95px 0 55px;
}

p.about-text {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Fira Sans';
  color: #232323 !important;
  line-height: 32px;
  font-style: italic;
  opacity: inherit;
  margin-bottom: 12px;
}

p.about-text2 {
  opacity: inherit;
  padding: 0;
}

/*dreamit ceo box*/
.dreamit-ceo-title h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Fira Sans';
  padding: 8px 0 0 32px;
  position: relative;
  z-index: 1;
}

.dreamit-ceo-title h4:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 18px;
  width: 22px;
  border: 1px solid #ff3c00;
}

.dreamit-ceo-title span {
  font-size: 15px;
  padding: 7px 0 0;
  display: inline-block;
}

/*about button*/
.style-two.about-area .about-button a {
  margin-top: 28px;
}

/*about thumb*/
.dreamit-about-thumb1 {
  margin-left: 64px;
  margin-top: -50px;
}

.about-shape-box {
  position: relative;
  z-index: 1;
}

.about-shape-thumb img {
  position: absolute;
  top: -280px;
  left: 26px;
}

/*<--About Area Style Three-->*/
.style-three.about-area {
  background: #fff;
  padding: 0px 0 115px;
}

/*upper style*/
.upper.style-three.about-area {
  padding: 100px 0 115px;
}

/*upper end*/
p.about-text1 {
  opacity: inherit;
  padding: 16px 0 0;
}

/*about thumb*/
.style-three.about-area .dreamit-about-thumb {
  margin: 0px 0 0 -72px;
}

.style-three .dreamit-icon-list ul li {
  padding: 12px 0 0px;
}

.style-three .dreamit-icon-list ul li span {
  color: #232323;
  font-family: 'Fira Sans';
}

.style-three .dreamit-icon-list ul li i {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  background-color: inherit;
  display: inline-block;
  color: #ff3c00;
  font-size: 22px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}

/*about syle two*/
.style-three .about-button a {
  padding: 14px 37px;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #fff;
  background: #FF3B00;
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #FF3B00;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 31px;
  font-size: 16px;
}

.style-three .about-button a i {
  font-size: 19px;
  width: 0;
  height: 0;
  line-height: 0;
  color: #fff;
  margin-left: 22px;
  top: 2px;
  left: -24px;
}

.style-three .about-button a:hover {
  color: #FF3B00;
}

.style-three .about-button a:hover i {
  color: #FF3B00;
}

/*progress bar*/
.progress-box {
  width: 600px;
  margin: 35px auto 0 0px;
  font-family: 'Fira Sans';
}

.circle_percent {
  font-size: 90px;
  width: 87px;
  height: 87px;
  position: relative;
  background: #FFEAE3;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 0 20px 0 0;
}

.circle_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip: rect(0 1em 1em .5em);
}

.round_per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #FF3C00;
  clip: rect(0 1em 1em .5em);
  transform: rotate(180deg);
  transition: 1.05s;
}

.percent_more .circle_inner {
  clip: rect(0 .5em 1em 0em);
}

.percent_more:after {
  position: absolute;
  left: .5em;
  top: 0em;
  right: 0;
  bottom: 0;
  background: #FF3C00;
  content: '';
}

.circle_inbox {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fff;
  z-index: 3;
  border-radius: 50%;
}

.percent_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 22px;
  line-height: 26px;
  color: #232323;
  text-align: center;
}

/*circle progress title*/
.extra-progress {
  display: inline-block;
  padding: 0 0 0 70px;
}

.circle-progress-title {
  display: inline-block;
}

.circle-progress-title h4 {
  font-size: 18px;
  line-height: 28px;
  color: #232323;
  font-weight: 500;
  position: relative;
  top: -30px;
}

/*about shape two*/
.style-three .about-shape-thumb1 {
  position: absolute;
  left: -191px;
  bottom: -98px;
  z-index: 1;
}

.style-three .about-shape-thumb3 {
  position: absolute;
  right: 37px;
  top: -4px;
  z-index: -1;
}

/*style three upper1*/
.upper1.style-three.about-area {
  padding: 100px 0 115px;
  background: url(assets/images/resource/why-choose-bg.png);
}

.upper1.style-three.about-area .dreamit-about-thumb {
  margin: 0px 0 0 30px;
}

.upper1.style-three .about-shape-thumb3 {
  position: absolute;
  right: -68px;
  top: -4px;
  z-index: -1;
}
