/***
======================================================
Itsoft Blog Area Css
======================================================***/
.blog-area {
  background: url(assets/images/resource/blog-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 94px 0 70px;
}

.single-blog-box {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.single-blog-thumb {
  transition: .5s;
  overflow: hidden;
}

.single-blog-thumb img {
  width: 100%;
  overflow: hidden;
  transition: .5s;
}

.blog-top-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.blog-top-button a {
  padding: 4px 17px 2px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Fira Sans";
  background: #FF3C00;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.blog-top-button a:before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #10102E;
  border-radius: 30px;
  transform: scale(0);
  transition: .5s;
}

.blog-top-button a:hover:before {
  transform: scale(1);
}

/*blog content*/
.em-blog-content {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(29, 33, 36, 0.12);
  padding: 22px 30px 18px;
  position: relative;
  z-index: 1;
  transition: .5s;
}

.em-blog-content:before {
  position: absolute;
  content: "";
  bottom: 62px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: rgba(29, 33, 36, 0.12);
}

.meta-blog-text p {
  padding: 0 0 0 25px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.meta-blog-text p:before {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  width: 55%;
  height: 55%;
  background: url(assets/images/resource/date.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.em-blog-title h2 {
  font-size: 22px;
  padding: 2px 0 42px;
}

.em-blog-title h2 a {
  display: inline-block;
  font-weight: 600;
  transition: .5s;
  line-height: 30px;
}

.em-blog-thumb {
  float: left;
}

.em-blog-icon {
  float: left;
}

.em-blog-icon-title {
  display: inline-block;
}

.em-blog-icon-title h6 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 0;
}

/*blog button*/
.blog-button {
  text-align: right;
}

.blog-button a {
  display: inline-block;
  color: #232323;
  transition: .5s;
  font-family: 'Fira Sans';
}

.blog-button i {
  font-size: 20px;
  display: inline-block;
  color: #FF3C00;
  position: relative;
  top: 2px;
}

/*blog all hover*/
.single-blog-box:hover .em-blog-title h2 a {
  color: #FF3C00;
}

.single-blog-box:hover .single-blog-thumb img {
  transform: scale(1.1);
}

.single-blog-box:hover .em-blog-content {
  filter: drop-shadow(0 0 35px rgba(196, 196, 196, 0.5));
  background-color: #ffffff;
  border: 1px solid rgba(29, 33, 36, 0.12);
}

/**Blog area style two**/
.blog-area.style-two {
  background: #fff;
  padding: 85px 0 70px;
  position: relative;
}

/*blog button*/
.blog-area.style-two .itsoft-button a {
  padding: 15px 33px;
}

.blog-area.style-two .itsoft-button a i {
  font-size: 20px;
  width: 0;
  height: 0;
  line-height: 0;
  background: inherit;
  color: #fff;
  margin-left: 0;
  margin-right: 25px;
}

/*blog all hover*/
.blog-area.style-two .itsoft-button a:hover i {
  color: #FF3C00;
}

/*blog shape*/
.blog-area.style-two .port-shape-thumb2 {
  position: absolute;
  top: -70px;
  right: 145px;
  z-index: 11;
}
