/*-------------------
============= Start Blog Section inner
-------------------*/
.blog-section {
  background: #f2f2f2;
  padding: 100px 0 70px;
}

/*pagination*/
.pagination a {
  font-size: 18px;
  font-weight: 500;
  color: #FF3C00;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.pagination a:hover {
  background: #FF3C00;
  color: #fff;
}

/*search items*/
.widget-items {
  padding: 19px 30px 25px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.widget-items form {
  position: relative;
}

.src-input-box {
  border: 1px solid #ccc;
  padding: 17px 9px;
  width: 100%;
}

.src-input-box:focus {
  border: 1px solid #ccc;
}

.src-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #777;
  background: transparent;
  border: none;
}

/*categories*/
.widget-title {
  margin-bottom: 25px;
  position: relative;
}

.widget-items .widget-title h2 {
  color: #232323;
  display: block;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.widget-title h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 80px;
  height: 3px;
  background: #aec6ef;
}

.widget-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 36px !important;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #FF3C00;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}

@keyframes MOVE-BG {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 80px;
    top: 0px;
  }
}

.hr-3 {
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
}

.catagory-item ul li {
  padding-top: 15px;
  margin-top: 18px;
  list-style: none;
}

.catagory-item ul li a {
  color: #686868;
}

.catagory-item ul li:hover a {
  color: #FF3C00;
}

.upp.widget-items {
  padding: 35px 27px 15px;
}

/*post thumb*/
.rpost-thumb {
  margin-right: 20px;
  padding: 0 0 22px;
}

/*post title*/
.rpost-title h4 {
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
  margin: 0;
}

.rpost-title span {
  font-size: 14px;
  padding: 5px 0 0;
  display: inline-block;
}

.rpost-title h4:hover {
  color: #FF3C00;
}

/*tag menu*/
.tag-item a {
  border: 1px solid #e6e6e6;
  padding: 5px 8px;
  display: inline-block;
  margin: 2px 3px 10px;
  font-size: 15px;
  color: #686868;
  transition: .5s;
  border-radius: 3px;
}

.tag-item a:hover {
  color: #fff;
  background: #FF3C00;
}

/* Calender*/
.curr-month {
  width: 100%;
  height: 40px;
  background: #d6d6d6;
  color: #000;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
}

.all-days {
  width: 100%;
  height: 40px;
  background-color: #fff;
  float: left;
}

.tag-item .all-days ul,
.tag-item .all-date ul {
  list-style: none;
  display: block;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  float: left;
  font-size: 15px;
  font-weight: 300;
}

.tag-item .all-days ul li,
.tag-item .all-date ul li {
  float: left;
  width: 48px;
  text-align: center;
  line-height: 41px;
  border: 1px solid #ccc;
  color: #333;
}

.tag-item .all-days ul li {
  font-weight: 500;
  font-family: 'Fira Sans';
  font-size: 16px;
}

.all-date {
  width: 100%;
  height: 305px;
  float: left;
}

.all-date li {
  height: 40px;
  width: 50px;
  line-height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}

element.style {
  background-color: rgb(255, 60, 0);
  color: rgb(255, 255, 255);
}

.all-date li.monthdate:hover {
  background-color: #FB3B01;
  color: #fff;
}

.calender-area {
  height: 435px;
}

/*blog section two*/
.style-two.blog-section {
  background: #fff;
  padding: 100px 0 70px;
}

.blog-content {
  padding: 15px 35px 20px;
  transition: .5s;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.blog-thumb img {
  width: 100%;
}

.blog-section .blog-content-text h5 {
  font-size: 35px;
  font-weight: 600;
}

.blog-meta span a {
  color: #686868;
  transition: .5s;
  padding: 12px 0 20px;
  display: inline-block;
}

.blog-meta span a:hover {
  color: #ff3c00;
}

/*quote*/
.block-quote {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 5px;
  border-left: 4px solid #FF3C00;
  margin: 30px 0;
}

.block-quote p {
  font-size: 20px;
  font-style: italic;
  color: #232;
  font-family: 'Fira Sans';
  margin-bottom: 12px;
}

.blog-content ol {
  padding-left: 15px;
}

.blog-section .blog-content h4 {
  font-size: 22px;
  margin: 25px 0 12px;
  font-weight: 600;
}

/*blog social*/
.single-blog-social-icon ul {
  margin: 25px 0;
}

.single-blog-social-icon ul li {
  display: inline-block;
  margin-right: 5px;
}

.single-blog-social-icon ul li i {
  font-size: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  color: #686868;
}

.single-blog-social-icon ul li:hover i {
  color: #fff;
  background: #FF3C00;
}

.comment-box {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  transition: .5s;
}

#comment-msg-box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 10px;
  transition: .5s;
}

label {
  color: #686868;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

.comment-box:focus,
#comment-msg-box:focus {
  border-color: #FF3C00;
  outline: 0;
  box-shadow: 0 0 6px rgb(204, 48, 0, 0.6);
}

/*form button*/
.comment-form .submit-comment {
  color: #fff;
  background: #FF3C00;
  border: 1px solid #FF3C00;
  border-radius: 3px;
  padding: 13px 35px;
  margin-left: 15px;
  margin-bottom: 50px;
  transition: .5s;
}

.comment-form .submit-comment {
  color: #fff;
  background: #FF3C00;
  border: 1px solid #FF3C00;
  border-radius: 3px;
  padding: 13px 35px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.comment-form .submit-comment:hover {
  background: #fff;
  color: #FF3C00;
}
