/*----------------
============== Itsoft Start Case Study Details
------------------*/
.case-study-details {
  background: url(assets/images/resource/why-choose-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 45px;
}

.case-study-intro {
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  margin-bottom: 70px;
  padding: 60px;
}

.csd-thumb img {
  width: 100%;
}

.csd-info {
  padding: 0 60px;
}

.csd-info ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
}

.csd-info ul {
  padding: 13px 0;
}

.csd-social-icon li {
  display: inline-block;
  margin: 0px 8px 0 0;
}

.csd-social-icon li i {
  color: #fff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #FF3C00;
  border-radius: 5px;
}

.csd-title h3 {
  font-size: 25px;
  font-weight: 400;
}

.csd-info ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 300;
  text-transform: capitalize;
}

.csd-info strong {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Fira Sans';
  margin-right: 5px;
}

.csd-social-icon h4 {
  font-size: 20px;
  color: #666;
  font-weight: 600;
  margin-top: 0;
}

/*rotateme animation*/
.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
