/***
======================================================
Itsoft counter Area css
======================================================***/
.counter-vip {
  padding: 85px 0 0;
}

.couter-top-title h3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0 0 36px;
}

.couter-top-title h3:before {
  position: absolute;
  content: "";
  left: -40px;
  top: 9px;
  height: 2px;
  width: 393px;
  background-color: rgba(255, 255, 255, 0.14901960784313725);
}

.couter-top-title h3:after {
  position: absolute;
  content: "";
  right: -40px;
  top: 9px;
  height: 2px;
  width: 393px;
  background-color: rgba(255, 255, 255, 0.14901960784313725);
}

.counter-title h4 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding: 0 0 11px;
  display: inline-block;
}

.counter-title span {
  font-size: 48px;
  font-weight: 600;
  display: inline-block;
  color: #FF3C00;
}

.counter-title p {
  color: #9D9EA6;
}
