/*====================================================
--< Itsoft feture-area Css -->
======================================================*/
.feture-area {
  background: url(assets/images/resource/why-choose-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 0 100px;
}

/*tabe*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.tab {
  padding-top: 50px;
  position: relative;
  left: 10px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.tabs li a {
  background-color: #10102E;
  color: #fff;
  font-family: 'Fira Sans';
  font-weight: 500;
  display: inline-block;
  outline: none;
  padding: 5px 26px;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #FF3C00;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}

.tabs_item:first-child {
  display: block;
}

.tabs_item img {
  width: 210px;
  float: left;
  margin-right: 12px;
}

li.current a {
  background: #FF3C00 !important;
  color: #fff;
}

ul.tabs-inner-list {
  margin-top: 15px;
}

ul.tabs-inner-list li {
  display: inline-block;
  margin: 3px 0;
}

ul.tabs-inner-list li i {
  display: inline-block;
  margin-right: 12px;
  color: #FF3C00;
  font-size: 15px;
}

.feture-area .dreamit-icon-list ul li span {
  color: #232323;
  font-weight: 400;
  font-family: "Fira Sans";
}

.feture-area .dreamit-icon-list ul li i {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  background-color: inherit;
  display: inline-block;
  color: #ff3c00;
  font-size: 22px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}

/*iiner counter area*/
.counter-section {
  background: url(assets/images/resource/counter-bg23.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.counter-text h1 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.counter-text h1::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -10px;
  height: 60px;
  width: 60px;
  border: 1px solid #DEE1E6;
  border-radius: 50%;
  z-index: -1;
}

.counter-section .counter-text span {
  font-weight: 500;
  font-size: 80px;
  color: #fff;
}

.counter-section .counter-title {
  float: right;
  position: relative;
  top: 35px;
  left: 30px;
}

.counter-section .counter-title::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -16px;
  width: 2px;
  height: 60px;
  background: #fff;
}

.counter-section .counter-title h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0;
}

.counter-section .counter-title h3 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-weight: 500;
}
