/***
======================================================
Itsoft Lines CSS
======================================================***/
.lines .line {
  position: relative;
  width: 93%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  z-index: 5;
}

.lines .line::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 35px;
  top: 0;
  left: 0px;
  background-color: #FF3B00;
  -webkit-animation: moveLeftBounces-two 35s linear infinite;
  animation: moveLeftBounces-two 35s linear infinite;
  overflow: hidden;
}

.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes moveLeftBounces-two {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(585px);
    transform: translateY(585px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveLeftBounces-two {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(585px);
    transform: translateX(585px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*style two*/
.style-two.lines .line::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 35px;
  top: 0;
  left: 0px;
  background-color: #FF3B00;
  -webkit-animation: moveLeftBounces-one 35s linear infinite;
  animation: moveLeftBounces-one 32s linear infinite;
  overflow: hidden;
}

.style-two.lines .line {
  position: relative;
  width: 103%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  z-index: 5;
}

@keyframes moveLeftBounces-one {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(538px);
    transform: translateX(538px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/** style three **/
.style-three.lines .line {
  position: relative;
  width: 103%;
  height: 1px;
  background-color: #E0E0E0;
  overflow: hidden;
  z-index: 5;
}

.style-three.lines .line::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 35px;
  top: 0;
  left: 0px;
  background-color: #FF3B00;
  -webkit-animation: moveLeftBounces-one 35s linear infinite;
  animation: moveLeftBounces-one 32s linear infinite;
  overflow: hidden;
}

/*style four*/
.style-four.lines {
  position: absolute;
  top: 54px;
  left: 48px;
  right: 0;
}

.style-four.lines .line {
  position: relative;
  width: 103%;
  height: 1px;
  top: 105px;
  left: 24%;
  background-color: #E0E0E0;
  overflow: hidden;
  z-index: 5;
}

.style-four.lines .line::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 35px;
  top: 0;
  left: 0px;
  background-color: #FF3B00;
  -webkit-animation: moveLeftBounces-one 35s linear infinite;
  animation: moveLeftBounces-one 32s linear infinite;
  overflow: hidden;
}

/*left bounce animation*/
@keyframes moveLeftBounce {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes MOVIE-BG {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
