/***
======================================================
Itsoft Process Area Css
======================================================***/
.process-area {
  background: url(assets/images/resource/work-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0 95px;
}

.row.process-bg {
  position: relative;
  z-index: 1;
}

.process-single-box {
  padding: 67px 22px 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9019607843137255);
  filter: drop-shadow(0px 10px 30px rgba(116, 100, 95, 0.2));
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.upper.process-single-box {
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.upper1.process-single-box {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: 32px;
}

.upper2.process-single-box {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: 32px;
}

.process-single-box:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0%;
  background: url(assets/images/resource/bx-bg.png);
  transition: .7s;
  border-radius: 3px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.process-number span {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Fira Sans';
  line-height: 26px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.process-number span:before {
  position: absolute;
  content: "";
  left: -24px;
  top: -15px;
  width: 60px;
  height: 55px;
  background: url(assets/images/resource/process-i1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: .5s;
}

.process-number span:after {
  position: absolute;
  content: "";
  left: -24px;
  top: -15px;
  width: 60px;
  height: 55px;
  background: url(assets/images/resource/process-i2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

.process-title h3 {
  font-size: 22px;
  color: #f83d04;
  font-weight: 600;
  font-family: "Fira Sans";
  padding: 28px 0 8px;
  transition: .5s;
}

.process-title span {
  color: #232323;
  transition: .5s;
}

.process-title p {
  transition: .5s;
}

/*process right*/
.dreamit-smart-title h4 {
  font-size: 22px;
  font-weight: 500;
  padding: 4px 0 14px;
}

.dreamit-smart-title span {
  color: #FF3C00;
}

.process-area .about-button a {
  margin-top: 17px;
}

/*all process hover*/
.process-single-box:hover:before {
  width: 100%;
  opacity: 1;
  height: 100%;
}

.process-single-box:hover .process-number span:after {
  opacity: 1;
}

.process-single-box:hover .process-title span,
.process-single-box:hover .process-title p {
  color: #fff;
}

/*procees shape*/
.process-thumb {
  position: absolute;
  left: 141px;
  bottom: 158px;
}

.process-thumb1 {
  position: absolute;
  left: -250px;
  top: 0px;
  animation: moveLeftBounce 4s linear infinite;
}

/**Process area style two**/
.style-two.process-area {
  background: url(assets/images/resource/process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 95px 0 170px;
  position: relative;
  z-index: 1;
}

.process-extra-area.style-two {
  position: relative;
  margin-top: -165px;
}

.style-two .row.process-bg {
  padding: 70px 0 17px;
  background: url(assets/images/resource/process-bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.style-two .process-single-box2 {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  padding: 0 20px;
}

.style-two .process-icon-thumb {
  position: relative;
  z-index: 1;
}

.style-two .process-icon-thumb:before {
  position: absolute;
  content: "";
  top: -14px;
  left: -15px;
  right: 0;
  margin: auto;
  height: 62px;
  width: 62px;
  background: #fe6637;
  transition: .5s;
  z-index: -1;
  border-radius: 100%;
}

.style-two .process-icon-thumb:after {
  position: absolute;
  content: "";
  top: -19px;
  left: 185px;
  right: 0;
  margin: auto;
  height: 100%;
  width: 97%;
  background: url(assets/images/resource/line-shape.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*upper*/
.style-two .upper .process-icon-thumb:after {
  position: inherit;
}

.style-two .process-title h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: "Fira Sans";
  padding: 20px 0 12px;
  transition: .5s;
}

.style-two .process-title p {
  color: #fff;
}

.process-text p {
  color: #9C9CA3;
}

/*process shape*/
.process-shape-thumb {
  position: absolute;
  bottom: -175px;
  left: 155px;
}

.process-shape-thumb3 {
  position: absolute;
  right: -19px;
  bottom: -68px;
}
