/*
<!-- ============================================================== -->
<!-- Start slider Area Css -->
<!-- ============================================================== -->*/
.slider-area {
  background: url(assets/images/slider/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  z-index: 1;
  position: relative;
}

.slider2 {
  background: url(assets/images/slider/hero-bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 890px;
  z-index: 1;
  position: relative;
}

/*slider content*/
.slider-content h3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 0 0 10px 56px;
  position: relative;
  z-index: 1;
}

.slider-content h3:before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 40px;
  height: 2px;
  background: #FF3C00;
}

.slider-content h1 {
  font-size: 58px;
  color: #fff;
  line-height: 1;
}

.slider-content span {
  color: #FF3C00;
}

.slider-content p {
  font-size: 17px;
  color: #B6B9C0;
  padding: 14px 0 0;
  width: 90%;
}

/*slider button*/
.slider-button a {
  padding: 11px 20px 16px 30px;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #fff;
  background: #FF3B00;
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #FF3B00;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slider-button a:before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: #fff;
  border-radius: 30px;
  transition: .5s;
}

.slider-button a i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 25px;
  text-align: center;
  background: #fff;
  color: #FF3B00;
  display: inline-block;
  margin-left: 14px;
  position: relative;
  top: 3px;
  transition: .5s;
}

.slider-button a:hover {
  color: #FF3B00;
}

.slider-button a:hover:before {
  width: 100%;
  left: 0;
}

.slider-button a:hover i {
  background: #FF3B00;
  color: #fff;
}

/*slider contact*/
.slider-button {
  float: left;
  margin-right: 30px;
}

.contact-icon {
  float: left;
  margin-right: 20px;
}

.contact-number span {
  color: #858B97;
}

.contact-number h3 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-top: 7px;
}

/*video button*/
.video-icon {
  position: absolute;
  top: 50px;
  left: 0;
  border: 2px dashed #fff;
  border-radius: 50%;
  padding: 7px;
}

.video-icon a {
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  color: #FF3B00;
  background: #fff;
  display: inline-block;
  font-size: 26px;
}

.style-two.video-icon {
  position: absolute;
  top: 80px;
  right: 13px;
  left: inherit;
  border: 0;
  border-radius: 50%;
  padding: 7px;
  transition: .5s;
  opacity: 0;
}

.style-two.video-icon a {
  width: 48px;
  height: 48px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #ff3c00;
  display: inline-block;
  font-size: 15px;
}

.case-study-thumb:hover .style-two.video-icon {
  top: 13px;
  opacity: 1;
}

/*video*/
.style-three .upp.style-two.video-icon {
  position: absolute;
  top: 40px;
  right: 169px;
  left: inherit;
  border: 0;
  border-radius: 50%;
  padding: 7px;
  transition: .5s;
  opacity: 1;
}

.style-three .upp.style-two.style-two.video-icon a {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #ff3c00;
  display: inline-block;
  font-size: 16px;
}

/*slider shape*/
.slider-shape-thumb {
  position: absolute;
  left: -30px;
  top: 0;
  animation: moveLeftBounce 4s linear infinite;
  z-index: -1;
}

.slider-shape-thumb2 {
  position: absolute;
  left: -30px;
  top: 0;
  animation: moveLeftBounce 3s linear infinite;
  z-index: -1;
}

/***slider two***/
/*slider content*/
.slider2 .slider-content h1 {
  font-size: 66px;
}

.slider2 .slider-content p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 32px 0 21px 26px;
  width: 48%;
  line-height: 30px;
  position: relative;
  z-index: 1;
}

.slider2 .slider-content p:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 40px;
  width: 3px;
  height: 48px;
  background: #FF3C00;
}

/*slider button2*/
.slider2 .slider-button a {
  padding: 13px 40px;
  display: inline-block;
}

.slider2 .slider-button a i {
  font-size: 20px;
  margin-left: 0px;
  margin-right: 6px;
  width: inherit;
  height: inherit;
  background: inherit;
  color: #fff;
  transition: .5s;
}

.slider2 .slider-button a:hover i {
  background: #fff;
  color: #FF3B00;
}

/*slider shape*/
.slider-shape-thumb3 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-shape-thumb4 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: moveLeftBounce 3s linear infinite;
}

.slider-shape-thumb5 {
  position: absolute;
  left: 184px;
  top: 293px;
}

.slider-shape-thumb6 {
  position: absolute;
  left: 40%;
  top: 18%;
}

.slider-shape-thumb7 {
  position: absolute;
  left: 165px;
  bottom: 101px;
}

.slider-shape-thumb8 {
  position: absolute;
  left: 46%;
  top: 18%;
}

.slider-shape-thumb9 {
  position: absolute;
  left: 49%;
  bottom: 7%;
  z-index: -1;
}
