/***
======================================================
Itsoft Subscribe Area Css
======================================================***/
.row.subscribe-area {
  background: url(assets/images/resource/subscribe-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 35px 40px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

.subscribe-title h1 {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}

.subscribe_form input {
  font-size: 14px;
  height: 68px;
  padding: 5px 25px;
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 0;
  margin-bottom: 14px;
  border-radius: 35px;
}

.subscribe_form button {
  transition: all 0.4s ease 0s;
  border: medium none;
  border-radius: 35px;
  background: #ff3c00;
  color: #fff;
  font-family: 'Fira Sans';
  font-weight: 500;
  text-align: center;
  padding: 13px 30px;
  position: absolute;
  right: 24px;
  top: 9px;
  display: inline-block;
  z-index: 1;
}

.subscribe_form button:hover {
  background: #11102F;
  color: #fff;
}

/**subscribe shape**/
.subscribe-thumb {
  position: absolute;
  left: 0;
  top: 52px;
}

.subscribe-thumb1 {
  position: absolute;
  right: 55px;
  top: 21px;
  animation: moveLeftBounce 3s linear infinite;
}

/*Subscribe area two */
.style-two.subscribe-area {
  background: url(assets/images/resource/call-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 62px 8px 54px 58px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  left: 20%;
  width: 80%;
  margin-bottom: -107px;
}

.row.subscribe {
  position: relative;
  left: -170px;
}

.style-two .subscribe-title h1 {
  font-size: 36px;
  line-height: 46px;
}

.subscribe-icon {
  float: left;
  margin-right: 125px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  padding: 8px;
}

.subscribe-icon i {
  font-size: 45px;
  color: #FF3C00;
  transition: 0.5s;
  height: 92px;
  width: 92px;
  line-height: 98px;
  background: #fff;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
}

.subscribe-title2 h1 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.subscribe-title2 p {
  font-size: 20px;
  font-family: 'Fira Sans';
  color: #fff;
  padding: 12px 0 0;
}
