/*================================
<--Start Itsoft top Menu Area Css-->
==================================*/
.header_top_menu {
  background: #141323;
  height: 61px;
  padding: 12px 0 0;
}

/*menu text*/
.header_top_menu_text p {
  color: #fff;
  padding: 0 0 0 18px;
  position: relative;
  z-index: 1;
}

.header_top_menu_text p:before {
  position: absolute;
  content: "";
  left: -12px;
  top: 4px;
  height: 100%;
  width: 100%;
  background: url(assets/images/resource/hand.png);
  background-repeat: no-repeat;
}

.menu-title {
  margin-right: 10px;
  display: inline-block;
}

.menu-title h6 {
  font-size: 15px;
  font-family: 'Fira Sans';
  font-weight: 500;
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1;
  margin: 0;
}

.menu-title h6:before {
  position: absolute;
  content: "";
  left: -45px;
  top: 8px;
  height: 2px;
  width: 35px;
  background: #FF3B00;
}

.header_top_menu_icon_inner {
  display: inline-block;
}

.header_top_menu_icon_inner ul li {
  display: inline-block;
  list-style: none;
}

.header_top_menu_icon_inner ul li a {
  color: #1773ea;
  font-size: 14px;
  font-weight: 400;
  margin: 0 5px;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  background: #ffff;
  text-align: center;
}

li.menu-icon a {
  color: #e04b85 !important;
  display: inline-block;
}
