/*----------------
============== Start Web Development section at inner page
------------------*/
.web-dev-section {
  background: url(assets/images/resource/why-choose-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 100px;
}

.web-dev-thumb-section img {
  width: 100%;
}

.web-dev-single-content {
  margin-bottom: 30px;
}

.content-position {
  font-size: 18px;
  color: #FF3C00;
  font-weight: 600;
  font-family: 'Fira Sans';
}

.content-title {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  padding: 5px 0 10px 0;
  font-family: 'Fira Sans';
}

.content-text {
  padding: 0 10px 0 0;
}

/*----------------
============== Start Web Development section at inner page
------------------*/
.feature-content-section {
  background: url(assets/images/resource/why-choose-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 70px;
}

.feature-content-section .single-content .content-icon {
  font-size: 40px;
  margin-right: 30px;
  color: #FF3C00;
}

.feature-content-section .content-text h4 {
  font-size: 20px;
  font-weight: 500;
  color: #444;
  padding: 0px 0 4px;
}

.feature-content-section .single-content {
  border: 1px solid #e6e6e6;
  padding: 25px 15px;
  transition: .5s;
  margin-bottom: 30px;
}

.feature-content-section .single-content:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
}
